In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv("Online_payement.csv")
data

         step      type      amount  ... newbalanceDest  isFraud  isFlaggedFraud
0           1   PAYMENT     9839.64  ...           0.00        0               0
1           1   PAYMENT     1864.28  ...           0.00        0               0
2           1  TRANSFER      181.00  ...           0.00        1               0
3           1  CASH_OUT      181.00  ...           0.00        1               0
4           1   PAYMENT    11668.14  ...           0.00        0               0
...       ...       ...         ...  ...            ...      ...             ...
6362615   743  CASH_OUT   339682.13  ...      339682.13        1               0
6362616   743  TRANSFER  6311409.28  ...           0.00        1               0
6362617   743  CASH_OUT  6311409.28  ...     6379898.11        1               0
6362618   743  TRANSFER   850002.52  ...           0.00        1               0
6362619   743  CASH_OUT   850002.52  ...     7360101.63        1               0

[6362620 rows x 11 columns]

In [4]:
data.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64